form {
  &.ng-submitted {
    label.has-error {
      border-bottom: 2px solid $assertive-subtitle;
    }
    .form-errors {
      display: block;
      .form-error {
        padding: 10px 10px;
        text-align: center;
        color: $assertive-subtitle;
      }
    }
  }
  .form-errors {
    display: none;
  }
}
